<li>
    <%= comment.body %> -
    <small>Відправлено <%= time_ago_in_words(comment.created_at) %> назад</small>
    <%= form_for [comment, Comment.new] do |f| %>

            <%= f.text_area :body, placeholder: "Додати відповідь" %><br/>
            <%= f.submit "Відповісти"  %>
    <% end %>
    <ul>
        <%= render partial: 'comments/comment', collection: comment.comments %>
    </ul>

</li>