<div class="post_wrapper">
    <% @events.each do |post| %>

        <p><%= image_tag post.image , size: '200x200' %></p>
        <h1 class="title"><%= link_to post.title, post %></h1>
        <p> user: <%= post.user.email %></p>
        <p class="date">event start at: <%= post.start_event_at.strftime("%B %d, %Y") %></p>
        <hr>

  <% end %>

  <%= paginate @events %>
</div>