<div id="post_content">
  <h1 class="title"><%= @post.title %></h1>
  <p><%= image_tag @post.image , size: '400x400'%></p>
  <p>Автор: <%= @post.user.email %></p>
  <p class="date">
    Стовренно <%= time_ago_in_words(@post.created_at) %> назад
    <% if current_user?(@post.user) %>
        | <%= link_to 'Змінити', edit_post_path(@post) %> |
        <%= link_to 'Видалити', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

  </p>
  <p class="body"><%= @post.body %></p>
  <hr>

  <h3>Коментарі</h3>

  <%= form_for [@post, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a comment" %><br/>
      <%= f.submit "Add Comment" %>
      <% end %>

  <ul>
    <%= render(partial: 'comments/comment', collection: @post.comments) %>
  </ul>
</div>